# 폰트 스타일
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

# 전체 페이지 스타일
body {
    font-family: 'SBAggroB', Arial, sans-serif;
    color: #76c7e4;  # 텍스트 색상
    background-color: #fff;  # 배경색
    margin: 0;
    padding: 20px;
}

# 타이틀 스타일
h1 {
    color: #31a5c8;
    text-shadow: 2px 2px 5px rgba(211, 211, 211, 0.8);  # 텍스트 그림자
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

# 상단의 메뉴바 스타일
.menu-bar__menu-box-1 > ul {
    text-align: center;
}

.menu-bar__menu-box-1 > ul > li {
    display: inline-block;
}

.menu-bar__menu-box-1 > ul > li > a {
    display: block;
    font-size: 20px;
    padding: 10px 30px;
}

# 콘텐츠 컨테이너 스타일
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

# 컨테이너 안쪽 제목 스타일
h2 {
    margin-top: 30px;
}
# 컨테이너 안쪽 내용 스타일
form {
    display: flex;
    flex-direction: column; # 세로 배치
}
label {
    margin: 10px 0 5px;
}

# 내용 작성부분 스타일
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'SBAggroB', Arial, sans-serif;
}

# 버튼 스타일
button {
    width: 100px;
    padding: 10px;
    background-color: #76c7e4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer; # 마우스 커서가 해당 요소 위로 올 때 포인터 형태로 변경
    align-self: flex-end;
}

button:hover {
    background-color: #0056b3;
}

# 후 목록 스타일
.question-list {
    margin-top: 30px;
}

.question-item {
    border-bottom: 1px solid #ccc;
    padding: 
}

.question-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.question-item p {
    margin: 5px 0 0;
}

# 상단의 메뉴바 스타일
a {
  color: inherit;
  font-size: 5px; 
  text-decoration: none; # 텍스트에 밑줄을 제거
  transition: color 0.3s; # 부드러운 전환 효과
} 
