# 폰트 스타일
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
# 전체 페이지 스타일
body {
    font-family: 'SBAggroB', Arial, sans-serif;
    color: #76c7e4;
    background-color: #fff;
    margin: 0;
    padding: 20px;
}
# 상단의 메뉴바 스타일
h3.menu-bar {
    margin-bottom: 100px;
}

.menu-bar__menu-box-1 > ul {
    text-align: center;
}

.menu-bar__menu-box-1 > ul > li {
    display: inline-block;
}

.menu-bar__menu-box-1 > ul > li > a {
    display: block;
    font-size: 20px;
    padding: 10px 30px;
}

a {
    color: inherit;
    font-size: 14px; /* 원래 5px에서 14px로 수정 */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover,            # 마우스가 위로 올라갔을 때
a:active {          # 활성화된 상태일 때 (클릭하고 있는 동안)
    color: #bdbebd;  # 색상 변경
}

# 화면 사용 공간 지정
.container {
    max-width: 800px;
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

# 주제별 스타일
.situation-section {
    margin-bottom: 150px;
    text-align: left; # 왼쪽 정렬
}

# 제목 텍스트 스타일
.situation-section h2 {
    color: #000;
    font-size: 1.8em;
    margin-bottom: 10px;
}

# 이미지 스타일
.image-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* 이미지 간 간격 조정 */
    margin-bottom: 10px; /* 이미지와 텍스트 간 간격 조정 */
}

.image-container img {
    max-width: 45%;
    height: auto;
    border-radius: 10px;
}

# 내용 텍스트 스타일
.situation-content .text {
    font-size: 1.1em;
    color: #4e4e4e;
}
