<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>open55555</title>
  {% load static %}
  <link href="{% static 'myapp/style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
  <!-- 메뉴 바 -->
  <h3 class="menu-bar con-min-width">
    <div class="con">
      <nav class="menu-bar__menu-box-1">
        <ul>
          <!-- 메뉴 항목 -->
          <li><a href="{% url 'weather' %}">Weather Home</a></li>
          <li><a href="{% url 'trend' %}">Trend Analysis</a></li>
          <li><a href="{% url 'method_of_use' %}">Method of Use</a></li>
          <li><a href="{% url 'situation' %}">Situation</a></li>
          <li><a href="{% url 'season' %}">Season</a></li>
          <li><a href="{% url 'qna' %}">review</a></li>
        </ul>
      </nav>
    </div>
  </h3>
  <div class="main">
    <!-- 로고 이미지 -->
    <div>
      <img src="{% static 'myapp/images/logo.png' %}" width="400" height="130" alt="Logo">
    </div>
    <!-- 위치 검색 폼 -->
    <form method="post">
      {% csrf_token %}
      <div>
        <input type="text" class="input-box" name="address" placeholder="위치를 입력하세요 (특별시/광역시/도 + 시/군/구 + 읍/면/동)" required />
        <button type="submit" class="fa-solid fa-magnifying-glass search-icon"></button>
      </div>
    </form>
    <!-- 날씨 정보 -->
    <div class="content">
      <h2>오늘의 OOTD는?</h2>
      {% if weather_data %}
        <!-- 날씨 데이터가 있을 경우 -->
        <p>오늘의 기온: {{ weather_data.tmp }}°C</p>
        <p>오늘의 날씨: {{ weather_data.state }}</p>
        <p>추천 옷차림: {{ weather_data.recommendation }}</p>
      {% elif error %}
        <!-- 에러 메시지가 있을 경우 -->
        <p>{{ error }}</p>
      {% endif %}
    </div>
    <!-- 안내 메시지 -->
    <div class="content2">
      <p>오늘의 멋쟁이는 바로 당신 ! <br>
      매일 바뀌는 날씨에 걸맞는 옷차림을 추천해드려요 <br>
      여름엔 시원하게 겨울에는 따뜻하게 </p>
    </div>
  </div>
</body>
</html>
